@import '../abstract/variaveis';

#servicos {
    margin: 80px;
    
    h4 {
        font-size: $tamanho-do-texto / 2.5;
        color: $cor-secundaria;
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
        margin: 1rem;
    }

    h3 {
        text-align: center;
        font-size: $tamanho-do-texto / 1.2;
        margin-bottom: 80px;
        font-weight: 300;
    }
}